
<section class="bg-gray-100 py-8">
  <div class="container mx-auto px-4">
    <div class="max-w-md mx-auto bg-white shadow-md rounded-md p-6">
      <h2 class="text-2xl font-bold text-gray-800 mb-6">
        Login
      </h2>
      <form
        [formGroup]="form"
        fxLayout="row wrap"
        id="form"
        (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="block text-gray-700" for="email">
            Username
          </label>
          <input class="w-full p-2 border border-gray-300 rounded-md" id="email" formControlName="username" type="username"/>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700" for="password">
            Password
          </label>
          <input class="w-full p-2 border border-gray-300 rounded-md" id="password" formControlName="password" type="password"/>
        </div>
        <button class="w-full bg-blue-500 text-white p-2 rounded-md" type="submit">
          Login
        </button>
      </form>
    </div>
  </div>
</section>
